################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ITEK.APISERVER.SOLUTION
/ITEK.EMAILHELPER/bin
/ITEK.EMAILHELPER/obj
/ITEK.WEBAPI/bin
/ITEK.WEBAPI/obj
/Libs/test_script.zip
/Libs/Spire.Pdf.xml
/Libs/Spire.Pdf.dll
/Libs/Spire.License.xml
/Libs/Spire.License.dll
/Libs/RazorPDF.dll
/Libs/PushSharp.Core.dll
/Libs/PushSharp.Android.dll
/Libs/Newtonsoft.Json.xml
/Libs/Newtonsoft.Json.dll
/Libs/itextsharp.dll
/Libs/HtmlAgilityPack.XML
/Libs/HtmlAgilityPack.pdb
/Libs/HtmlAgilityPack.dll
/packages/Antlr.3.4.1.9004/lib
/packages/Antlr.3.4.1.9004
/packages
/SHABS.BUSINESSSERVICES
/SHABS.COMMON/bin
/SHABS.COMMON/obj/Debug
/SHABS.COMMON/obj/Release
/SHABS.DB/bin
/SHABS.DB/obj
/SHABS.MODELS/bin
/SHABS.MODELS/obj
/SHABS.OBJECTPOOL/bin
/SHABS.OBJECTPOOL/obj
